<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Package Name="Infrastructure Agent" Manufacturer="ITRS Group Ltd"
        UpgradeCode="9c733c89-efa1-4f84-a589-1b7e184d4332"
        Language="1033" Codepage="1252" Version="$(var.AgentVersion)"
        InstallerVersion="200">

        <SummaryInformation Keywords="Installer" Description="Infrastructure Agent Installer" Manufacturer="ITRS Group" />

    	<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <Media Id="1" Cabinet="InfraAgent.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
        <Property Id="DiskPrompt" Value="Infrastructure Agent Disk [1]" />

        <!-- Set Add/Remove programs icon -->
        <Icon Id="icon.ico" SourceFile="icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <!-- Include files from heat harvested .wxs file -->
        <Feature Id="Complete" Level="1">
            <ComponentGroupRef Id="plib" />
        </Feature>

        <!-- Create extra directories in the install dir -->
        <Feature Id="ExtraDirs" Level="1">
            <Component Id="CreateExtraDirectories" Guid="41064439-9856-4e5b-b753-ca00ef209cca" Directory="LOGDIR">
                <CreateFolder Directory="LOGDIR" />
                <CreateFolder Directory="CFGDIR" />
                <CreateFolder Directory="CUSTOMCFGDIR" />
                <CreateFolder Directory="PLUGINSDIR" />
                <CreateFolder Directory="IMPORTEDPLUGINSGDIR" />
            </Component>
        </Feature>

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLDIR" Name="Infrastructure Agent">
                <Directory Id="LOGDIR" Name="logs" />
                <Directory Id="CFGDIR" Name="cfg">
                    <Directory Id="CUSTOMCFGDIR" Name="custom" />
                </Directory>
                <Directory Id="PLUGINSDIR" Name="plugins">
                    <Directory Id="IMPORTEDPLUGINSGDIR" Name="imported" />
                </Directory>
            </Directory>
        </StandardDirectory>

        <!-- Define service install/uninstall commands -->
        <CustomAction Id="InstallService" Directory="INSTALLDIR"
            Execute="deferred" Impersonate="no"
            Return="check" ExeCommand="[INSTALLDIR]\bin\infra-svce.exe --install Agent"
        />

        <CustomAction Id="UnInstallService" Directory="INSTALLDIR"
            Execute="deferred" Impersonate="no"
            Return="check" ExeCommand="[INSTALLDIR]\bin\infra-svce.exe --uninstall Agent"
        />

        <InstallExecuteSequence>
            <Custom Action="InstallService" After="InstallFiles" Condition="(NOT Installed) AND (NOT REMOVE)" />
            <Custom Action="UnInstallService" After="InstallInitialize" Condition="(REMOVE=&quot;ALL&quot;)" />
        </InstallExecuteSequence>

    </Package>
</Wix>
